<p>component-8 works!</p>
<div class="container-fluid px-3 py-2">
     <div class="row mb-3">
          <div class="col-12 col-md-12 d-flex justify-content-center ">
               <h3>Dummy Table</h3>
          </div>
     </div>
     <div class="row">
          <div class="col-12 col-md-12">
               <div class="table-responsive">
                    <table class="table table-hover">
                         <thead>
                              <tr>
                                   <th>Column 1</th>
                                   <th>Column 2</th>
                                   <th>Column 3</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr>
                                   <td>R1C1</td>
                                   <td>R1C2</td>
                                   <td>R1C3</td>
                              </tr>
                              <tr>
                                   <td>Item</td>
                                   <td>Item</td>
                                   <td>Item</td>
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>
     </div>
</div>